@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-bg: #181A1E;
  --sidebar-text: #696b6d;
  --sidebar-text-active: #FFFFFF;
  --light-gray: #F8F8F8;
}


body {
  background-color: #fff;
  color: #181A1E;
  /* height: 100vh; */
}