@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-bg: #181A1E;
  --sidebar-text: #696b6d;
  --sidebar-text-active: #FFFFFF;
  --light-gray: #F8F8F8;
}


body {
  background-color: #fff;
  color: #181A1E;
  /* height: 100vh; */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.chat-wallpaper {
  background-image: url('../public/chat-wallpaper.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
